# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea/
*.log
!.keep

docker/infra/postgres/data
docker/infra/redis/aof
docker/infra/memos/.thumbnail_cache/
docker/infra/memos/memos_prod.*
docker/infra/wordpress

# lockgit
ca/rabbit/**
ca/private/**
docker/infra/.env
docker/infra/nginx/conf.d/miniflux.conf
docker/infra/nginx/conf.d/note.conf
docker/infra/xray.yml
docker/infra/nginx/conf.d/shirley.conf
docker/infra/shirley/config/config.yaml
docker/infra/nginx/conf.d/rabbitmq.conf
docker/infra/xray/conf/**
docker/infra/xray/Dockerfile
config/xray/**
config/ssh/**