# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea/
.vscode/
*.log
!.keep
*.session
*.zip

docker/infra/mysql/data/*
!docker/infra/mysql/data/.keep
docker/infra/qbittorrent-nox/config/*
!docker/infra/qbittorrent-nox/config/.keep
docker/infra/linkding/*
!docker/infra/linkding/.keep
docker/infra/fusion/*
!docker/infra/fusion/.keep
docker/infra/nginx/static/*
!docker/infra/nginx/static/.keep
docker/infra/maddy/*
!docker/infra/maddy/.keep

docker/infra/postgres/data/*
!docker/infra/postgres/data/.keep
docker/infra/redis/aof
docker/infra/nginx/app/*.json
docker/infra/nginx/conf.d/*.conf
docker/infra/sing-box/conf/*
!docker/infra/sing-box/conf/.keep

docker/infra/vanblog/config/*
!docker/infra/vanblog/config/.keep
docker/infra/vanblog/data/*
!docker/infra/vanblog/data/.keep
docker/infra/vanblog/db/*
!docker/infra/vanblog/db/.keep
docker/infra/vanblog/log/*
!docker/infra/vanblog/log/.keep
docker/infra/vanblog/static/*
!docker/infra/vanblog/static/.keep

# lockgit
ca/rabbit/**
ca/private/**
docker/infra/.env
config/ssh/**
recovery/**
config/sshd/env.conf
resume/**
docker/infra/nginx/conf.d/htpasswd
config/sing-box/**
docker/infra/sing-box.yml
config/nginx/**
config/rss/**
docker/infra/maddy/maddy.conf
