# /lib/systemd/system/nginx.service

[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/root/app/nginx/logs/nginx.pid
ExecStartPre=/root/app/nginx/sbin/nginx -t
ExecStart=/root/app/nginx/sbin/nginx
ExecReload=/root/app/nginx/sbin/nginx -s reload
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
